@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*********************** Colors Section ***********************/
.header-nav-menu-bg-color{
    background-color:#FFAEBC;
}
.footer-menu-bg-color{
    background-color: #96c8e6;
}
.home-page-bg-color{
    background-color:#FBE7C6;
}
.our-donuts-bg-color{
    background-color:#FBE7C6;
}
.hero-video-bg-color{
    background-color:#FBE7C6;
}
/*********************** Header Section ***********************/
header{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding-top: 0; 
}
.company-logo{
    background: url("../images/donut-disturb-logo.png");
    min-height: 100px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.menu-bar-list{
    padding-right: 15px;
}
#header-nav-bar{
    padding-top: 0;
}
.nav-link{
    margin: 0;
    padding:0
}
#navBarDropDown{
    font-size: 150%;
    min-height: 100px;
    padding-top: 40px;
    list-style-type: none;
    letter-spacing: 2px;
}
#navBarDropDown li{
    margin-top: 10px;
    margin-right: 25px;
}
#navBarDropDown li a i{
    font-size: 150%;
    color: ghostwhite;
}
#navBarDropDown span{
    padding-left: 5px;
    padding-right: 5px;
    color:ghostwhite;
    float: right;
}
.hero-image{
    min-height: 400px;
    width: 100%;
    background-image: url("../images/donut-store-counter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1.5s ease-in;
    -moz-transition: all 1.5s ease-in;
    -webkit-transition: all 1.5s ease-in; 
}

/*********************** Index Body Section ***********************/
main{
    height: auto;
    width: 100%;
}
.food-prep{
    background-color: rgb(150, 200, 230);
    height: 250px;
    width: 100%;
    margin: 20px;
    box-shadow: 10px 10px rgba(255, 175, 190);
    background-position: center;
    background-repeat: no-repeat;
}
.info-text-block{
    background-color: rgba(255, 175, 190, 1);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
    color: snow;
    box-shadow: 10px 10px rgba(150, 200, 230);
}
.section-block{
    padding: 10px;
}
.event-image{
    background-color: rgb(150, 200, 230);
    height: 250px;
    width: 100%;
    margin: 20px;
    box-shadow: 10px 10px rgba(255, 175, 190);
    background-image: url("../images/donuts-icecream-events.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}
.company-mission-image{
    background-color: rgb(150, 200, 230);
    height: 250px;
    width: 100%;
    margin: 20px;
    box-shadow: 10px 10px rgba(255, 175, 190);
    background-image: url("../images/kitchen-baker.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
.event-mission-header{
    color:  rgb(60, 170, 230);
    text-decoration: underline;
    text-shadow:1px 1px slategray;
    font-size: 25px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin: 5px;
}
.review-section-header{
    color:  rgb(60, 170, 230);
    text-decoration: underline;
    text-shadow:1px 1px slategray;
    font-size: 25px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin:auto;
}
.reviewer-image{
    margin: 10px;
    min-height: 100px;
    width: 100%;
    box-shadow: 10px 10px rgba(255, 175, 190);
}
.reviewer-quote{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    background-color: rgba(150, 200, 230,1);
    font-family: "Roboto", sans-serif;
    color: snow;
    box-shadow: 10px 10px rgba(255, 175, 190);
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin: 10px;
}
.reviewer-image{
    margin: 10px;
    min-height: 100px;
    width: 100%;
    box-shadow: 10px 10px rgba(255, 175, 190);
}
.reviewer-quote{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    background-color: rgba(150, 200, 230,1);
    font-family: "Roboto", sans-serif;
    color: snow;
    box-shadow: 10px 10px rgba(255, 175, 190);
}

/*********************** Footer Section ***********************/
footer{
    padding-top:10px;
}
.social{
    text-align: center;
}
.copyright-info{
    padding-top: 10px;
    text-align: center;
    float: left;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
    bottom: 0;
}
.social-media-links{
    margin: 0;
    text-align: center;
    float: right;
}
.social-media-links li a i{
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: snow;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 50, 0.3);
}
.social-media-text{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: snow;
    text-align: center;
    float: left;
}

/*********************** General Padding/Margins/Text ***********************/
.inline-block{
    display: inline-block;
}
.uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}

/*********************** Our Donuts ***********************/
.our-donuts-container{
    padding-bottom: 20px;
}
.hero-video{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}
.hero-video-container{
    margin-bottom: 20px;
}
.single-donut-image{
    height: 200px;
    width: 200px;
    border-radius: 20%;
}
.our-donuts-row{
    padding-bottom: 20px;
    margin: 0 7.5% 0 7.5%;
}
.donut-block {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.donut-name-header{
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight:400;
    color: darkslategrey;
}
.donut-info {
    display: block;
    width: 100%;
    padding:0 40px 0 40px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight:400;
    color: slategray;
}
.allergen-info{
    display: block;
    width: 100%;
    padding:0 40px 0 40px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight:400;
    color: slategray;
}
.horizontal-divider{
    background-color: #FBE7C6;
}
.horizontal-divider hr{
    margin: 0;
    padding: 0
}

/*********************** Contact ***********************/
.location-header{
    margin-top: 20px;
}
.location-info{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: center;
}
.map{
    height: 350px;
    width: 100%;
}

/*********************** Media Queries ***********************/
@media screen and (max-width:576px){
    #navBarDropDown{
        padding-top: 5px;
    }
    .company-logo{
        min-height: 120px;
        background-size: cover;
    }
    .nav-bar-button{
        position: relative;
        right: 5%;
        height: 60px;
        width: 60px;
    }
    .menu-bar-list{
        padding-top: 5px;
        padding-left: 10px;
    }
    .mission-block-mobile{
        background-color: rgb(150, 200, 230);
        height: 250px;
        width: 100%;
        margin: 10px 0px 10px;
        background-image: url("../images/kitchen-baker.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }
    .event-block-mobile{
        height: 250px;
        width: 100%;
        margin: 10px 0px 10px;
        background-image: url("../images/donuts-icecream-events.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        float: left;
    }
    .info-text-block{
        background-color: rgba(20, 20, 20, 0.5);
        margin: 0;
        font-size: 20px;
        color: snow;
        box-shadow:none;
    }
    .event-mission-header{
        color:  snow;
        text-shadow:2px 2px slategray;
    }
    .reviewer-image{
        margin: 40px 0px 40px 0px;
    }
}
@media screen and (min-width:992px){
    .info-text-block{
        min-height: 200px;
        font-size: 22px;
        word-spacing: 2px;
        padding: 20px;
    }
} 
@media screen and (max-width:992px){
    .map{
        height: 400px;
    }
    .our-donuts-row{
        margin: 0;
    }
}
@media screen and (min-width:1200px){
    .hero-video{
        width: 60%;
    }
}
