@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*********************** Colors Section ***********************/
.header-nav-menu-color{
    background-color:#FFAEBC;
}

.footer-menu-color{
    background-color: #96c8e6;
}

.our-donuts-bg-color{
    background-color:#FBE7C6;
}

.hero-video-bg-color{
    background-color:#FBE7C6;
}

/*********************** Header Section ***********************/
header{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.company-logo{

    background: url("../images/DonutDisturbLogo.png");
    min-height: 150px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /* transition: all .5s ease-in-out; */
    /* -moz-transition: all .5s ease-in-out; */
    /* -webkit-transition: all .5s ease-in-out; */
}

.menu-bar-list{
    padding-top: 70px;
    padding-right: 15px;
}
#navBarDropDown{
    font-size: 150%;
    min-height: 150px;
    list-style-type: none;
    letter-spacing: 2px;
}
#navBarDropDown li{
    margin-top: 10px;
    margin-right: 25px;
}
#navBarDropDown li a i{
    font-size: 150%;
    color: ghostwhite;
}
#navBarDropDown span{
    padding-left: 5px;
    padding-right: 5px;
    color:ghostwhite;
    float: right;
}
/* #navBarDropDown li a i{

} */



.hero-image{
    min-height: 400px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../images/pexels-igor-ovsyannykov-205961.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1.5s ease-in;
    -moz-transition: all 1.5s ease-in;
    -webkit-transition: all 1.5s ease-in;
    
}

/*********************** General Padding/Margins/Text ***********************/
.inline-block{
    display: inline-block;
}
.uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}

/*********************** Footer Section ***********************/

#footer-details{
    padding: 15px;
}
.social{
    text-align: center;
}
.copyright-info{
    padding-top: 10px;
    text-align: center;
    float: left;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
    bottom: 0;
}
.social-media-links{
    margin: 0;
    text-align: center;
    float: right;
}
.social-media-links li a i{
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: snow;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 250, 250, 0.5);
}

.social-media-text{
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: snow;
    text-align: center;
    float: left;
}

/*********************** Body Section ***********************/

.food-prep{
    background-color: rgb(150, 200, 230);
    height: 250px;
    width: 100%;
    margin: 20px;
    box-shadow: 10px 10px rgba(255, 175, 190);
    background-position: center;
    background-repeat: no-repeat;
}
.info-text-block{
    background-color: rgba(255, 175, 190, 1);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
    color: snow;
    box-shadow: 10px 10px rgba(150, 200, 230);
}

.event-image{
    background-color: rgb(150, 200, 230);
    height: 250px;
    width: 100%;
    margin: 20px;
    box-shadow: 10px 10px rgba(255, 175, 190);
    background-image: url("../images/pexels-jeswin-thomas-5570880.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}
.company-mission-image{
    background-color: rgb(150, 200, 230);
    height: 250px;
    width: 100%;
    margin: 20px;
    box-shadow: 10px 10px rgba(255, 175, 190);
    background-image: url("../images/pexels-vaibhav-jadhav-3218467.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
.event-mission-header{
    color:  rgb(60, 170, 230);
    text-decoration: underline;
    text-shadow:1px 1px slategray;
    font-size: 25px;
    font-weight: 600;
    font-family: "Exo", sans-serif;
    margin: 5px;
}

/*********************** Our Donuts ***********************/
.our-donuts-container{
    padding-bottom: 20px;
}
.hero-video{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}
.hero-video-container{
    margin: 20px 0px 20px;
}
.single-donut-image{
    min-height: 200px;
    width: 200px;
}
.our-donuts-row{
    padding-bottom: 20px;
}
.donut-block {
    margin-top: 20px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 90%
}
.donut-name-header{
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight:400;
    color: darkslategrey;
}
.donut-info {
    display: block;
    width: 70%;
    margin-left: 15%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight:400;
    color: slategray;
}

.allergan-info{
    display: block;
    width: 70%;
    margin-left: 15%;
    font-family: "Exo", sans-serif;
    font-size: 15px;
    font-weight:400;
    color: slategray;
}

.horizontal-divider{
    background-color: #FBE7C6;
}
.horizontal-divider hr{
    margin: 0;
    padding: 0
}

/*********************** Media Queries ***********************/
@media screen and (max-width:576px){
    .company-logo{
        min-height: 120px;
        background-size: cover;
    }
    .nav-bar-button{
        position: relative;
        right: 5%;
        height: 60px;
        width: 60px;
    }
    .menu-bar-list{
        padding-top: 5px;
        padding-left: 10px;
    }
    .mission-block-mobile{
        background-color: rgb(150, 200, 230);
        height: 250px;
        width: 100%;
        margin: 10px 0px 10px;
        background-image: url("../images/pexels-vaibhav-jadhav-3218467.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }
    .event-block-mobile{
        height: 250px;
        width: 100%;
        margin: 10px 0px 10px;
        background-image: url("../images/pexels-jeswin-thomas-5570880.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        float: left;
    }
    .info-text-block{
        background-color: rgba(20, 20, 20, 0.5);
        margin: 0;
        font-size: 20px;
        color: snow;
        box-shadow:none;
    }
    .event-mission-header{
        color:  snow;
        text-shadow:2px 2px slategray;
    }
    .event-anchor{
        color: blue;
    }
    .single-donut-image{
        min-height: 200px;
        width: 80%;   
    }
}

@media screen and (min-width:992px){

    .info-text-block{
        min-height: 200px;
        font-size: 22px;
        word-spacing: 2px;
        padding: 20px;
    }
    
}

@media screen and (min-width:1170px){
    .hero-video{
        width: 60%;
    }
}